<!-- @@master = ../layouts/default.html-->

<!-- @@block  =  head-css -->
<!-- index css -->
<link rel="stylesheet" href="assets/css/index.css">
<!-- @@close -->

<!-- @@block = content -->

<div id="fullpage">
    <section class="section" id="section0">
        <div class="kvSlogan">
            <img class="visible-desktop" src="assets/images/kvDesktop.gif" alt="">
        </div>
    </section>
    <section class="section" id="section1">
        <div class="container">
            <div class="sectionTitle">
                <img src="assets/images/featureProduct.png" alt="">
            </div>
            <div class="fPContent">
                <div class="productImgM visible-phone"></div>
                <div class="productImg productImg1"></div>
                <div class="productImg productImg2"><img src="assets/images/productImg2.png" alt=""></div>
                <div class="productImg productImg3"><img src="assets/images/productImg3.png" alt=""></div>
            </div>
        </div>
    </section>
    <section class="section" id="section2">
        <div class="container">
            <div class="sectionTitle">
                <img src="assets/images/advApp.png" alt="">
            </div>
            <div class="advVideo">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/zi40zqE32OU?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> </div>
        </div>
    </section>


    <section class="section" id="section3">
        <div class="textContent">
            <div class="pos">
                <div class="sectionTitle">
                    <img src="assets/images/productionKey.png" alt="">
                </div>
                <div class="productionKeyContent">
                    <img src="assets/images/productionKey1Content.png" alt="">
                </div>
            </div>
        </div>
        <div class="imgContent">
            <div class="slider">
                <div class="sliderItem sliderItem1"></div>
                <div class="sliderItem sliderItem2"></div>
                <div class="sliderItem sliderItem3"></div>
                <div class="sliderItem sliderItem4"></div>
                <div class="sliderItem sliderItem5"></div>
                <div class="sliderItem sliderItem6"></div>
            </div>
        </div>
        <div style="clear: both;"></div>
    </section>


    <section class="section" id="section4">
        <div class="textContent">
            <div class="pos">
                <div class="sectionTitle">
                    <img src="assets/images/productionKey.png" alt="">
                </div>
                <div class="productionKeyContent">
                    <img src="assets/images/productionKey2Content.png" alt="">
                </div>
            </div>
        </div>
        <div class="imgContent">
            <div class="slider">
                <div class="sliderItem sliderItem1"></div>
                <div class="sliderItem sliderItem2"></div>
                <div class="sliderItem sliderItem3"></div>
                <div class="sliderItem sliderItem4"></div>
                <div class="sliderItem sliderItem5"></div>
            </div>
        </div>
        <div style="clear: both;"></div>
    </section>
    <section class="section" id="section5">
        <div class="textContent">
            <div class="pos">
                <div class="sectionTitle">
                    <img src="assets/images/productionKey.png" alt="">
                </div>
                <div class="productionKeyContent">
                    <img src="assets/images/productionKey3Content.png" alt="">
                </div>
            </div>
        </div>
        <div class="imgContent">
            <div class="slider">
                <div class="sliderItem sliderItem1"></div>
                <div class="sliderItem sliderItem2"></div>
                <div class="sliderItem sliderItem3"></div>
                <div class="sliderItem sliderItem4"></div>
                <div class="sliderItem sliderItem5"></div>
                <div class="sliderItem sliderItem6"></div>
                <div class="sliderItem sliderItem7"></div>
            </div>
        </div>
        <div style="clear: both;"></div>
    </section>
    <section class="section fp-auto-height" id="section6">
        <div class="footerFamily"><img src="assets/images/footerContent1.jpg" alt=""></div>
        <div class="footer">
            <div class="footerC logo1"><img src="assets/images/footerContent1.svg" alt=""></div>
            <div class="footerC logo2"><img src="assets/images/footerContent2.svg" alt=""></div>
            <div class="footerC footerTxt">衛署成製字第002840號 北市衛藥廣字第107070332號 使用前詳閱說明書、警語及注意事項</div>
        </div>
    </section>
</div>
<!-- @@close -->


<!-- @@block  =  head-js -->
<!-- index_page1 js -->
<script src="assets/js/main.js"></script>
<!-- @@close -->