@import "base/transform";
$primary-color-g: #00653b;
.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
    height: auto !important;
}

#section0 {
    background: url(../images/kvBg.jpg) center no-repeat;
    background-size: cover;
}

.kvSlogan {
    width: 64%;
    position: relative;
    top: 58%;
    right: 0;
    left: 0;
    margin: 0 auto;
    @include transform(translate(0, -50%));
}

.sectionTitle {
    width: 50%;
    max-width: 260px;
    min-width: 150px;
}

#section1 {
    background: url(../images/section1Bg.png) center no-repeat;
    background-size: cover;
    display: table;
    .fp-tableCell {
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }
    .sectionTitle {
        max-width: 210px;
        margin-left: 10%;
        position: relative;
        z-index: 1;
    }
}

.fPContent {
    width: 80%;
    display: block;
    font-size: 0;
    margin: -2.5% auto 0 auto;
    .productImg1 {
        width: 60%;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        padding-bottom: 50%;
        &::before {
            content: '';
            width: 117%;
            height: 117%;
            background: url(../images/productImg1.png) center no-repeat;
            background-size: cover;
            position: absolute;
            top: -10%;
            left: -13%;
        }
    }
    .productImg2 {
        width: 40%;
        display: inline-block;
        vertical-align: middle;
        text-align: right;
        >img {
            width: 90%;
            margin-left: 10%;
        }
    }
    .productImg3 {
        width: 100%;
        display: block;
    }
}

#section2 {
    background: url(../images/section2Bg.png) center no-repeat;
    background-size: cover;
    display: table;
    .fp-tableCell {
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }
    .sectionTitle {
        max-width: 210px;
        margin-left: 10%;
        margin-bottom: 2em;
    }
    .advVideo {
        width: 80%;
        padding-bottom: 45%;
        position: relative;
        margin: 0 auto;
        iframe {
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }
}

.slider,
.slick-list,
.slick-track {
    width: 100%;
    height: 100%;
}

.slider div {
    height: 100%;
}

.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    display: block;
    width: 65px;
    height: 65px;
    padding: 0;
    @include transform(translate(0, -50%));
    cursor: pointer;
    font-size: 0;
    color: transparent;
    border: none;
    outline: none;
    background: url(../images/arrow.svg) center no-repeat;
    background-size: cover;
    z-index: 1;
}

.slick-prev {
    left: 5px;
    @include transform(rotate(180deg)translate(0, 32px));
}

.slick-next {
    right: 5px;
}

.sliderItem {
    position: relative;
    &::before {
        content: '';
        width: 65%;
        padding-bottom: 9%;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.textContent,
.imgContent {
    width: 50%;
    height: 100%;
}

.textContent {
    float: left;
    position: relative;
}

.imgContent {
    float: right;
}

.pos {
    max-width: 90%;
    display: table;
    vertical-align: middle;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    .sectionTitle {
        margin-bottom: 30%;
    }
}

#section3 {
    background: url(../images/section3Bg.png) center no-repeat;
    background-size: cover;
    .slider .sliderItem1 {
        background: url(../images/sliderimg/3-1.jpg) center no-repeat;
        background-size: cover;
        &::before {
            background: url(../images/sliderimg/comment3-12.png) left center no-repeat;
            background-size: 100%;
        }
    }
    .slider .sliderItem2 {
        background: url(../images/sliderimg/3-2.jpg) center no-repeat;
        background-size: cover;
        &::before {
            background: url(../images/sliderimg/comment3-12.png) left center no-repeat;
            background-size: 100%;
        }
    }
    .slider .sliderItem3 {
        background: url(../images/sliderimg/3-3.jpg) center no-repeat;
        background-size: cover;
        &::before {
            background: url(../images/sliderimg/comment3-34.png) left center no-repeat;
            background-size: 100%;
        }
    }
    .slider .sliderItem4 {
        background: url(../images/sliderimg/3-4.jpg) center no-repeat;
        background-size: cover;
        &::before {
            background: url(../images/sliderimg/comment3-34.png) left center no-repeat;
            background-size: 100%;
        }
    }
    .slider .sliderItem5 {
        background: url(../images/sliderimg/3-5.jpg) center no-repeat;
        background-size: cover;
        &::before {
            background: url(../images/sliderimg/comment3-56.png) left center no-repeat;
            background-size: 100%;
        }
    }
    .slider .sliderItem6 {
        background: url(../images/sliderimg/3-6.jpg) center no-repeat;
        background-size: cover;
        &::before {
            background: url(../images/sliderimg/comment3-56.png) left center no-repeat;
            background-size: 100%;
        }
    }
    .productionKeyContent img {
        max-width: 570px;
    }
}

#section4 {
    background: url(../images/section4Bg.png) center no-repeat;
    background-size: cover;
    .textContent {
        float: right;
    }
    .imgContent {
        float: left;
    }
    .slider .sliderItem1 {
        background: url(../images/sliderimg/5-1.jpg) center no-repeat;
        background-size: cover;
        &::before {
            background: url(../images/sliderimg/comment5-1.png) left center no-repeat;
            background-size: 100%;
        }
    }
    .slider .sliderItem2 {
        background: url(../images/sliderimg/5-2.jpg) center no-repeat;
        background-size: cover;
        &::before {
            background: url(../images/sliderimg/comment5-2.png) left center no-repeat;
            background-size: 100%;
        }
    }
    .slider .sliderItem3 {
        background: url(../images/sliderimg/5-3.jpg) center no-repeat;
        background-size: cover;
        &::before {
            background: url(../images/sliderimg/comment5-3.png) left center no-repeat;
            background-size: 100%;
        }
    }
    .slider .sliderItem4 {
        background: url(../images/sliderimg/5-4.jpg) center no-repeat;
        background-size: cover;
        &::before {
            background: url(../images/sliderimg/comment5-4.png) left center no-repeat;
            background-size: 100%;
        }
    }
    .slider .sliderItem5 {
        background: url(../images/sliderimg/5-5.jpg) center no-repeat;
        background-size: cover;
        &::before {
            background: url(../images/sliderimg/comment5-5.png) left center no-repeat;
            background-size: 100%;
        }
    }
    .productionKeyContent img {
        max-width: 599px;
    }
}

#section5 {
    background: url(../images/section5Bg.png) center no-repeat;
    background-size: cover;
    .slider .sliderItem1 {
        background: url(../images/sliderimg/7-1.jpg) center no-repeat;
        background-size: cover;
        &::before {
            background: url(../images/sliderimg/comment7-1.png) left center no-repeat;
            background-size: 100%;
        }
    }
    .slider .sliderItem2 {
        background: url(../images/sliderimg/7-2.jpg) center no-repeat;
        background-size: cover;
        &::before {
            background: url(../images/sliderimg/comment7-2.png) left center no-repeat;
            background-size: 100%;
        }
    }
    .slider .sliderItem3 {
        background: url(../images/sliderimg/7-3.jpg) center no-repeat;
        background-size: cover;
        &::before {
            background: url(../images/sliderimg/comment7-3.png) left center no-repeat;
            background-size: 100%;
        }
    }
    .slider .sliderItem4 {
        background: url(../images/sliderimg/7-4.jpg) center no-repeat;
        background-size: cover;
        &::before {
            background: url(../images/sliderimg/comment7-4.png) left center no-repeat;
            background-size: 100%;
        }
    }
    .slider .sliderItem5 {
        background: url(../images/sliderimg/7-5.jpg) center no-repeat;
        background-size: cover;
        &::before {
            background: url(../images/sliderimg/comment7-5.png) left center no-repeat;
            background-size: 100%;
        }
    }
    .slider .sliderItem6 {
        background: url(../images/sliderimg/7-6.jpg) center no-repeat;
        background-size: cover;
        &::before {
            background: url(../images/sliderimg/comment7-6.png) left center no-repeat;
            background-size: 100%;
        }
    }
    .slider .sliderItem7 {
        background: url(../images/sliderimg/7-7.jpg) center no-repeat;
        background-size: cover;
        &::before {
            background: url(../images/sliderimg/comment7-7.png) left center no-repeat;
            background-size: 100%;
        }
    }
    .productionKeyContent img {
        max-width: 431px;
    }
}

#section6.footer {
    width: 100%;
    padding: 15px;
    background: $primary-color-g;
    font-size: 0;
    box-sizing: border-box;
    text-align: center;
    .footerC {
        display: inline-block;
        font-size: 14px;
        line-height: 1.2em;
        color: #ffffff;
        vertical-align: middle;
        margin: 10px;
    }
}

@media screen and (max-width: 1588px) {
    .fPContent {
        width: 60%;
    }
}

@media screen and (max-width: 1344px) {
    #section1 {
        .container {
            padding-top: 50px;
        }
        .sectionTitle {
            max-width: 180px;
            margin-left: 20%;
        }
        .fPContent {
            width: 60%;
        }
    }
    #section2 {
        .sectionTitle {
            max-width: 180px;
            margin-left: 20%;
        }
        .advVideo {
            width: 60%;
            padding-bottom: 33.75%;
        }
    }
}

@media screen and (max-width: 1024px) {
    .section,
    .section .fp-tableCell {
        height: auto !important;
    }
    #section0 {
        background: url(../images/kvBgM.gif) center no-repeat;
        background-size: 100%;
        padding-bottom: 150%;
    }
    #section1 {
        padding-top: 5%;
        .fPContent {
            width: 80%;
        }
        .sectionTitle {
            margin-left: 10%;
        }
    }
    #section2 {
        padding: 10% 0;
        .sectionTitle {
            margin-left: 10%;
        }
        .advVideo {
            width: 80%;
            padding-bottom: 45%;
        }
    }
    .kvSlogan {
        width: 90%;
        top: 54%;
    }
    .textContent,
    .imgContent {
        float: none !important;
        width: 100%;
        height: auto;
    }
    .textContent {
        width: 80%;
        margin: 0 auto;
    }
    .imgContent {
        height: 50vh;
        padding-bottom: 10%;
    }
    .pos {
        position: relative;
        top: 0;
        left: 0;
        margin: 0;
        @include transform(translate(0, 0)scale(0.85));
        width: 100%;
        display: block;
        max-width: 100%;
        .sectionTitle {
            margin-bottom: 10%;
        }
        .productionKeyContent img {
            width: 70%;
        }
    }
}

@media screen and (max-width: 767px) {
    .imgContent {
        height: auto;
        padding-bottom: 60%;
        position: relative;
        >.slider {
            position: absolute;
        }
    }
    #section1 {
        .sectionTitle {
            width: 40%;
            margin-left: 0;
            margin-bottom: 10%;
        }
        .fPContent {
            width: 100%;
        }
        .productImgM {
            background: url(../images/productImgM.png) center no-repeat;
            background-size: 92%;
            padding-bottom: 189%;
        }
        .productImg {
            display: none;
        }
        .container {
            padding-top: calc(1% + 75px);
        }
    }
    #section2 {
        .sectionTitle {
            width: 40%;
            margin-left: 0;
        }
        .advVideo {
            width: 100%;
            padding-bottom: 56.25%;
        }
    }
    #section2,
    #section3,
    #section4,
    #section5 {
        padding-top: calc(1% + 75px);
    }
    .textContent {
        width: 96%;
        margin: 0 auto;
        .pos {
            @include transform(translate(0, 0)scale(1));
            margin-bottom: 10%;
        }
    }
    .slick-prev,
    .slick-next {
        width: 30px;
        height: 30px;
    }
    .slick-prev {
        @include transform(rotate(180deg)translate(0, 15px));
    }
    #section6.footer .footerC {
        width: 80%;
        margin: 0 auto;
        margin: 5px 0;
    }
}