<header>
    <div class="headContainer">
        <a id="logo" href="#Home">
            <img class="" src="assets/images/logo.svg" alt="">
        </a>
        <div class="container-fluid nav-right">
            <div class="button_container" id="nav-toggle">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
            </div>
            <nav class="overlay" id="overlay">
                <div class="overlay-nav">
                    <ul id="menu">
                        <li id="productSection"><a href="javascript:;">產品特色</a></li>
                        <li id="advSection"><a href="javascript:;">廣告欣賞</a></li>
                        <li class="submenuBox"><a>高品質生產關鍵</a>
                            <ul id="submenu">
                                <li id="threeSection" class="submenuItem"><a href="javascript:;">3項領先設備</a></li>
                                <li id="fiveSection" class="submenuItem"><a href="javascript:;">5大安心品管</a></li>
                                <li id="sevenSection" class="submenuItem"><a href="javascript:;">7道核心製程</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>