<!DOCTYPE html>
<html lang="en">

<head>
    <title>綠的每一天</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale= 1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="綠的每一天,適合全家天天使用,全台第一家,世界級高品質" />
    <meta name="Keywords" content="過敏,止癢,殺菌" />
    <meta name="geo.region" content="tw" />
    <meta name="rating" content="general" />
    <meta property="og:title" content="綠的每一天" />
    <meta property="og:description" content="綠的每一天,適合全家天天使用,全台第一家,世界級高品質" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://greenherbalsoap.eventapp.tw/index.html" />
    <meta property="og:image" content="https://greenherbalsoap.eventapp.tw/assets/images/share.jpg" />
    <link rel="stylesheet" href="assets/css/slick.css" type="text/css" media="all" />
    <link rel="stylesheet" href="assets/css/style.css" type="text/css" media="all" />

    <!-- @@placeholder= head-css -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js'></script>
    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.js'></script> -->
    <script src="assets/js/plugins/fullpage.js"></script>
    <script src="assets/js/plugins/slick.js"></script>


</head>

<body>
    <!-- @@include ./_header.html -->

    <!-- @@placeholder= content -->

    <!-- @@placeholder= head-js -->
</body>

</html>